.book-chart__wrapper {
  width: 850px;
  margin: 0 auto;
  padding-bottom: 30px;

}

.book-chart__header {
  text-align: center;
  margin: 20px 0 16px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

#book-chart {
  margin: 0 auto;
  background-color: #ccc;
}
