.book__navigation {
  padding-top: 20px;
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.book__navigation-link {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 50%;


  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: black;
}

.book__navigation-link {
  &:hover, &:focus {
    background-color: #8F07CF;
    color: white;
  }
}

.book__navigation-link:is(:hover, :focus), .book__navigation-link--active {
    background-color: #8F07CF;
    color: white;
}


