<ul class="book__navigation">
  <li class="book__navigation-item">
    <a routerLink="book/pages/1" class="book__navigation-link">1</a>
  </li>
  <li class="book__navigation-item">
    <a routerLink="/pages/2" class="book__navigation-link">2</a>
  </li>
  <li class="book__navigation-item">
    <a routerLink="/pages/3" class="book__navigation-link">3</a>
  </li>
  <li class="book__navigation-item">
    <a routerLink="/pages/4" class="book__navigation-link">4</a>
  </li>
  <li class="book__navigation-item">
    <a routerLink="/pages/5" class="book__navigation-link">5</a>
  </li>
</ul>
