<section class="book-page">

  <h3 class="page__main-header">Main heading</h3>
  <p class="page__text">Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
    оценить значение новых предложений. Равным образом рамки и место обучения кадров представляет собой интересный
    эксперимент проверки существенных финансовых и административных условий.
    <br><br>
    Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет
    за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения
    кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
  </p>

  <img class="page__image" alt="Тут будет картинка" src="https://via.placeholder.com/238x216" width="238" height="216">
  <p class="page__text">
    Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет
    за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки и место обучения
    кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
    <br><br>
    Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели
    развития. Реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров.
    Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели
    развития.
  </p>
</section>

<book-pagination></book-pagination>
