.authorization{
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
}

.authorization__form {
  max-width: 500px;
  margin: 0 auto;
}

.authorization__form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
