<section class="book-page">
  <img class="page__image" alt="Тут будет картинка" src="https://via.placeholder.com/370x216" width="370" height="216">

  <h3 class="page__main-header">Main heading</h3>
  <p class="page__text">Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей
    деятельности влечет за собой процесс внедрения и модернизации систем массового участия. С другой стороны рамки
    и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий
    активизации.
    <br><br>
    Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании модели
    развития. Таким образом реализация намеченных плановых заданий способствует подготовки и реализации системы
    обучения кадров, соответствует насущным потребностям.
  </p>
</section>

<book-pagination></book-pagination>
