/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  text-align: center;
  padding: 100px 0 20px 0;
  color: #673ab7;
  font-size: 400%;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}
nav a {
  min-width: 120px;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}

.body-wrapper {
  min-width: 920px;
  margin: 0 auto;
}

h1 {
  display: block;
}

/* Animation module with all animation code*/


.txt {
  display: block;
}
