.book-table {
  width: 850px;
  margin: 0 auto;
}

.book-table__header {
  text-align: center;
  margin: 20px 0 16px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.mat-table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
