.heroes {
  max-width: 920px;
  margin: 0 auto;
}

.mat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat-list-base .mat-list-item {
  width: 40%;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  min-width: 150px;
}

.hero-add-form {
  display: flex;
  justify-content: space-between;
}

