.congrats-wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.congrats__header {
  box-sizing: border-box;
  padding: 140px 0;
  text-align: center;
  font-size: 3rem;
  line-height: 120%;
}

.congrats__close {
  position: absolute;
  top: 0;
  right: 0;
}




